<style type="text/css">
h1 {
color: VIOLET;
font-family: 'Karla', sans-serif;
font-size: 30px;
}

p {
color: LIGHTSLATEGRAY;
font-family: verdana;
font-size: 15px;
}

h2 {
color: purple;
font-family: 'Karla', sans-serif;
font-size: 30px;
}

h3 {
color: red;
font-family: 'Karla', sans-serif;
font-size: 30px;
}

</style>


<h1>Chi Siamo</h1>
<p>Siamo un gruppo di ragazzi che insegna corsi per StartUp</p>
<h2>Dove siamo</h2>
<p>La nostra sede è in Via Gallo, 5 Milano</p>
<h3>Cosa offriamo</h3>
<p>Offriamo la possibilità di comprare e/o vendere i contenuti digitali in vari formati(PDF, Word, Excel ecc)</p>
