<style type="text/css">
h1{ 
color: CADETBLUE;
font-family: "Comic Sans MS", cursive;
font-size: 35px;
}

.link{
color: DODGERBLUE;
font-family: Monotype;
font-size: 18px;
}

.link a {
text-decoration: none;
color: DODGERBLUE;
}

.link a:hover {
color: red;
}


.p1 {
font-family: 'Dancing Script', cursive;
font-size: 14px;
}

</style>


<h1>Questa è l'homepage</h1>
<p class="p1">Questo sito parla della vendita e dell'acquisto dei contenuti digitali</p>
 